/* ARCHITECTURE STYLESHEET */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h4, h5, h6, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

/* GLOBAL STYLES */

*,
*::before,
*::after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

html { font-size: 100%; }

body {
	/*background: #BFBFBF;*/
	font: normal 1em/1.4 'Open Sans', Arial, sans-serif;
	margin: 1rem auto;
	width: 20em;
}

/* MY STYLES */

h1, h2 {
	text-align: center;
	text-decoration: underline;
}

nav ul {
	padding: 0;
}

nav li {
	background-color: #333;
	font-size: 1.2rem;
	list-style-type: none;
	margin-top: 1em;
	padding: 1em 0;
	text-align: center;
	width: 100% !important;
}
nav li:first-child {
	margin-top: 0;
}
a:link {
	color: #FFF;
	text-decoration: none;
}
a:hover {
	font-weight: 700;
}
a:visited {
	color: #C00;
}

.intro::first-letter {
	background: #333;
	color: #FFF;
	float: left;
	font-size: 4em;
	line-height: 1;
	margin: 0 0.1em 0 0;
	padding: 0.25em 0.1em;
}
.intro::first-line {
	font-weight: 700;
}

img {
	height: auto;
	width: 100%;
}
	figcaption {font-size: 0.8em;}

footer {
	background: #333;
	color: #FFF;
	font-size: 0.8em;
	padding: 1em;
	text-align: center;
}
.backtotop {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 25px solid #000;
	height: 0;
	margin-bottom: 0.5em;
	width: 0;
}
.toplink {
	display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width:48.063em) {
	body {
		width: 80%;
	}
	h3, ul, p {
		clear: both;
	}
	h3 + p + p {
		padding-left: 1em;
		padding-right: 1em;
	}
	img, figure {
		height: 20em;
		width: auto;
	}
	.backtotop {
		display: none;
	}
	.toplink {
		display: inline-block;
		font-size: 0.8rem;
	}

}

@media screen and (min-width: 68.750em) {

}
