// Colour Variables

$white: #ffffff;
$black: #000000;
$orange: #ff6e00;
$red : #CC0000;
$yellow: #ffff00;
$darkblue: #0b174f;
$blue: #0000ff;
$lightblue: #00ffff;
$darkgrey: #333333;
$lightgrey: #999999;
$green: #008504;
$darkgreen: #004701;
$lightpurple: #a96df3;
$darkpurple: #25064c;
$purple: #2a0066;
$pink: #c200a1
